* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
    box-sizing: border-box;
  }
  body {
    background-color: #fafafa;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
  }
  
  .myhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 62%;
  }
  
  .logo {
    width: 150px;

  }
  .searchbox {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
    height: fit-content;
    padding: 10px;
    margin-left: 200px;
  }
  .searchbox i {
    color: rgb(199, 199, 199);
    font-size: 0.8rem;
    margin-right: 6px;
  }
  .searchbox input {
    border: none;
    padding: 0px 60px 0px 10px;
    outline: none;
    background-color: transparent;
  }
  
  .searchbox input::placeholder {
    color: rgb(182, 182, 182);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: normal;
    font-size: 1rem;
  }
  
  .nav_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }
  
  .nav_icons i {
    margin-left: 25px;
    font-size: 1.5rem;
    opacity: 100%;
  }
  
  .message_notif {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    position: absolute;

    top: 0;
    margin-top: 10px;
    margin-left: 33px;
    
  }
 
  .message_notif h1 {
    color: white;
    font-size: 0.8rem;
  }
  
  .my_profile {
    margin-left: 20px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
  }
  
  section {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    align-items: top;
  }
  
  .my_section {
    width: 62%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    background-color: none;
    right: 0;
    margin-right: 150px;
    width: 320px;
  }
  .profile_pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .profile_pic div {
    float: left;
  }
  
  .border_circle {
    width: 53px;
    height: 54px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    opacity: 90%;
  }
  .img_p{
    margin-left: 3px;
  }
  .profile_pic img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
  }

  .main_acc{
    margin-top: 8px;
  }
  .main_acc h3{
    font-weight: bold;
    margin-left: 3px;
  }
  .main_acc h4{
    color: grey;
    opacity: 90%;

  }
  .main_acc h3,h4 {
    margin-left: 10px;
    font-size: 1rem;
  }
  
 
  .switch h5 {
    font-size: 0.9rem;
    color: dodgerblue;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .sug {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    padding: 10px 0px;
  }
  .sug h3 {
    font-size: 1rem;
    color: grey;
    opacity: 95%;
    margin-left: 0px;
  }
  
  .see_all h5 {
    color: black;
    font-weight: normal;
    font-size: 0.9rem;
    margin-right: 5px;
  }

  .acc_name{
    
    margin-top: 4px;
    
  }
  .acc_name h3,h4{
    font-size: 0.8rem;
    margin-left: 10px;
  }
  .acc_name h4{
    color: grey;
    opacity: 95%;
  }
  .sug_acc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 3px;
  }
  .sug_acc div {
    float: left;
  }
  .sug_acc img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
  }
  .footer {
    display: flex;
    list-style: none;
    margin-top: 10px;
  }
  
  .footer li {
    margin-left: 5px;
    font-size: 0.8rem;
    color: grey;
    opacity: 90%;
  }
  .footer3 {
    font-size: 1rem;
    font-weight: normal;
    
    margin-left: 0px;
  }
  
  .footer3 h3 {
    font-size: 0.8rem;
    color: grey;
    opacity: 90%;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  .story_bar {
    display: flex;
    background-color: white;
    width: 600px;
    overflow-x: scroll;
    padding: 15px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 3px;
  }
  
  .story_bar::-webkit-scrollbar {
    display: none;
  }
  .story_bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .stories {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .stories h4 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  .stories div {
    width: 63px;
    height: 63px;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
  
  .stories img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid white;
    cursor: pointer;
  }
  .post {
    width: 600px;
    margin-top: 15px;
    background-color: white;
  }
  .post_head {
    width: 600px;
  
    background-color: rgb(255, 255, 255);
    display: flex;
    
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
  }
  .post_group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .post_group h3 {
    margin-left: 10px;
    font-size: 0.9rem;
  }
  
  .post_head img {
    width: 40px;
    height: 40px;;
    border-radius: 100%;
  }
  .icon_dot i {
    color: black;
    margin-left: 300px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 30px;
  }
  .post_image img {
    width: 600px;
  }
  .like_box {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    margin-top: 0%;
   
  }
  .like_box i {
    margin-left: 5px;
    font-size: 24px;
    opacity: 90%;
  }
 
  .save {
    margin-left: 390px;
  }
  .post {
    width: 600px;
    margin-top: 15px;
    background-color: white;
          border: 1px solid rgb(190, 188, 188);
          /*border-top: 1px solid rgba(255, 0, 0, .3);*/
          -webkit-background-clip: padding-box; /* for Safari */
          background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
          border-radius: 3px;
    
  }
  
  .comment {
    display: flex;
    margin-left: 10px;
    align-items: center;
  }
  .comment h4 {
    font-weight: bold;
  }
  .comment h6 {
    margin: 0;
    margin-left: 8px;
    font-size: 0.9rem;
  }
  .post_time h3{
    font-size: 0.7rem;
    font-weight: normal;
    color: grey;
    opacity: 90%;
    padding: 2px 20px;
    text-transform: uppercase;
  
  
  }
  .add_com{
    display: flex;
    padding: 13px 20px;
    border-top: grey;
  
  }
  .add_com i{
    font-size: 1.5rem;
  }
  .add_com h3{
    margin-top: 5px;
    font-size: 0.95rem;
    font-weight: normal;
    color: grey;
    opacity: 95%;
    margin-left: 15px;
  }
  .line hr{
    margin-top: 15px;
    color: grey;
    opacity: 20%;
  }
  .like_4 {
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  .like_4 h5 {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 5px;
  }
  
  .like_4 h6 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .view_com h3{
    font-size: 0.9rem;
    font-weight: normal;
    color: grey;
    opacity: 90%;
    padding: 10px 20px;
  } 
  .footer li:hover{
    text-decoration: underline;
  }